.flexcontainer {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.sidebar {
  flex-basis: 20rem;
  flex-grow: 1;
  border-right: 1px solid grey;
  padding: 20px;
}

.body {
  flex-basis: 0;
  flex-grow: 999;
}

.header {
  height: 5rem;
}

.tooltip {
  background: white;
  border: 1px solid black;
  pointer-events: none;
}
